body,
html{
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  box-sizing: border-box;
}
#root {
  background-color: #131520;
  width: 100%;
  overflow-x: hidden;
}
/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}